body{
	background-color: #FFA200;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}
h3{
	font-size: 60px;
	text-align:center;
}
p{
	font-size:100%;
	text-align:left;
}
h2{
	font-size:40px;
	text-align:center;
	
}

button.accordion {
    background-color: #FFA200;
    color: white;
    cursor: pointer;
    padding: 15%;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
	font-size: 50px;
}

button.accordion:after {
    content: '\02795';
    font-size: 20px;
    
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #FFC000;
}

/* Style the accordion panel. Note: hidden by default */

div.panel {
    padding: 0 18px;
    	
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
	text-align:left;
	font-size:20px;
}

.bild{
	width:100%;
	margin:0;
	
}
